.container {
  display: grid;
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}

.item-d {
  
  background-color: yellow;
  border-radius: 50%;
  height: 100vmin;
width: 100vmin;

}
ul{
list-style-type:none;
height: 200vh ;
width: 100vw;

}
